*.py[cod]
credentials.py
alembic.ini
*.swp
docs/_build/
graphs/
last_ran*.txt
debmetrics/models/
.coverage
cover/
static/js/jquery-1.11.1.min.js*
static/js/jquery-ui-1.10.4.min.js*
static/js/jquery.stickytableheaders.min.js*
static/js/jquery.tablesorter.min.js*
static/js/jquery.flot.js*
static/js/jquery.flot.time.js*
static/js/jquery.flot.hiddengraphs.js*
static/js/jquery.flot.tooltip.min.js*
static/js/jquery.dragtable.js*
static/js/jquery.dataTables.min.js*
static/css/dragtable.css*
static/css/jquery.dataTables.min.css*
static/css/ui-lightness/
static/css/ts-blue/
templates/index.html

!debmetrics/models/__init__.py
