*.py[cod]
credentials.py
alembic.ini
*.swp
docs/_build/
debmetrics/graphs/
debmetrics/last_ran.txt
debmetrics/models/
.coverage
cover/
debmetrics/static/js/jquery-1.11.1.min.js*
debmetrics/static/js/jquery-ui-1.10.4.min.js*
debmetrics/static/js/jquery.stickytableheaders.min.js*
debmetrics/static/js/jquery.tablesorter.min.js*
debmetrics/static/js/jquery.flot.js*
debmetrics/static/js/jquery.flot.time.js*
debmetrics/static/js/jquery.flot.hiddengraphs.js*
debmetrics/static/css/ui-lightness/
debmetrics/static/css/ts-blue/
debmetrics/templates/index.html

!debmetrics/models/__init__.py
