The contents of credentials.py in the debmetrics directory should be 
like the following:

DATABASE = {
    'dev': {
        'IP': '107.170.79.147',
        'USER': 'username',
        'PASS': 'password',
    }
}
