{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
    <h2>Mailing List</h2>
        The <a href="https://lists.debian.org/debian-qa/">Debian QA Mailing List</a>
        should be used for all email communication related to debmetrics.
    <h2>Email</h2>
        If you really want to get in contact with the maintainer personally,
        you can email Joseph Bisch at joseph.bisch [AT] gmail.com.
    <h2>IRC</h2>
    You can find Joseph Bisch on OFTC as jbisch.
{% endblock %}
