{% extends "layout.html" %}
    {% block title %}Dynamic Interface{% endblock %}
    {% block scripts %}
        <script src="{{ url_for('static2', filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static2', filename='js/jquery-ui-1.10.4.min.js') }}"></script>
        <script src="{{ url_for('static2', filename='js/jquery.dragtable.js') }}"></script>
        <script src="{{ url_for('static2', filename='js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static2', filename='js/jquery.flot.js') }}"></script>
        <script src="{{ url_for('static2', filename='js/jquery.flot.time.js') }}"></script>
        <script src="{{ url_for('static2', filename='js/jquery.flot.hiddengraphs.js') }}"></script>
        <script src="{{ url_for('static2', filename='js/jquery.flot.tooltip.min.js') }}"></script>
        <script src="{{ url_for('static2', filename='js/dynamic.js') }}"></script>
        <script src="{{ url_for('static2', filename='js/jquery.flot.superlegends.js') }}"></script>
    {% endblock %}
