<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>{% block title %}{% endblock %} - Debian Metrics Portal</title>
        <link rel="stylesheet" href="{{ url_for('static2', filename='css/ui-lightness/jquery-ui-1.10.4.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static2', filename='css/ts-blue/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static2', filename='css/dragtable.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static2', filename='css/debian.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static2', filename='css/debmetrics.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static2', filename='css/jquery.dataTables.min.css') }}" />
    </head>
    <body>
        <header id="header">
            <div id="upperheader">
                <div id="logo">
                    <a href="http://www.debian.org/" title="Debian Home"><img src="{{ url_for('static', filename='img/debian-50.png') }}" alt="Debian"></a>
                </div>
                <p class="section"><a href="/">Debmetrics</a></p>
            </div>
            <nav id="navbar">
                <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
                <ul>
                    <li><a href="/">Static</a></li>
                    <li><a href="/dynamic">Dynamic</a></li>
                </ul>
            </nav>
            <p id="breadcrumbs"></p>
        </header>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <footer id="footer">
            <p>
                <a href="http://anonscm.debian.org/cgit/qa/debmetrics.git/?h=deployed">Deployed Source Code</a>
                | <a href="http://debmetrics.readthedocs.org/en/latest/">Docs</a>
                | <a href="{{ url_for('thanks') }}">Thanks</a>
                | <a href="{{ url_for('contact') }}">Contact</a>
            </p>
        </footer>
        <script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        {% block scripts %}{% endblock %}
    </body>
</html>
