{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1>{{ title }}</h1>
    {% if source %}
    Source: <a href="{{ source }}">{{ source }}</a>
    {% else %}
        No source available
    {% endif %}
    {% if timeseries %}
        <h2>Timeseries</h2>
        <img src="{{ timeseries }}" />
    {% endif %}
    <h2>Table</h2>
    <a href="{{ url_for('csv_route', metric=title) }}">Download {{ title }} CSV</a>
    <table class="tablesorter">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for col in row %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if statistics %}
        <h2>Statistics</h2>
        <table class="tablesorter">
            <tr>
                <th>Statistic</th>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>Mean</td>
                {% for mean in statistics.mean %}
                    <td>{{ '%0.2f' % mean|float }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>SD</td>
                {% for sd in statistics.sd %}
                    <td>{{ '%0.2f' % sd|float }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Min</td>
                {% for min in statistics.min %}
                    <td>{{ '%0.2f' % min|float }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Max</td>
                {% for max in statistics.max %}
                    <td>{{ '%0.2f' % max|float }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
    {% if graph %}
        <h2 class="title">{{ name }}</h2>
        <img id="graph" src="{{ graph }}" />
        <input type="date" id="date" />
    {% endif %}
{% endblock %}
