{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1>{{ title }}</h1>
    {% if timeseries %}
        <h2>Timeseries</h2>
        <img src="{{ timeseries }}" />
    {% endif %}
    <h2>Table</h2>
    <a href="{{ url_for('csv_route', metric=title) }}">Download {{ title }} CSV</a>
    <table class="tablesorter">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for col in row %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if graph %}
        <h2 class="title">{{ name }}</h2>
        <img id="graph" src="{{ graph }}" />
        <input type="date" id="date" />
    {% endif %}
{% endblock %}
