{% extends "layout.html" %}
{% block title %}Thanks{% endblock %}
{% block body %}
<h1>Thanks</h1>
<h2>The Origin of Debmetrics</h2>
Debmetrics started as a Google Summer of Code project in 2014, so we thank:
<br />Student:
<ul><li>Joseph Bisch</li></ul>
<br />Mentors:
<ul>
    <li>Stefano Zacchiroli</li>
    <li>Stuart Prescott</li>
    <li>Piotr Ożarowski</li>
</ul>
<h2>The Debmetrics Contributors</h2>
We would like to thank the rest of the debmetrics contributors.
<br />You can find them in <a href="http://anonscm.debian.org/gitweb/?p=users/josephbisch-guest/debmetrics.git;a=blob;f=AUTHORS;hb=HEAD">The AUTHORS file</a>.
{% endblock %}

