<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>Debian Metrics Portal</title>
    </head>
    <body>
        <h1>Debian Metrics Portal</h1>
        <p><a href="{{ url_for('metric', metric='vcs') }}">Sources</a></p>
        <p><a href="{{ url_for('metric', metric='releases') }}">Releases</a></p>
        <p><a href="{{ url_for('metric', metric='releases_count') }}">Releases Count</a></p>
        <p><a href="{{ url_for('metric', metric='rc_bug_count') }}">RC Bugs</a></p>
    </body>
</html>

