<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>{% block title %}{% endblock %} - Debian Metrics Portal</title>
        <link rel="stylesheet" href="static/css/ui-lightness/jquery-ui-1.10.4.min.css" />
        <link rel="stylesheet" href="static/css/reset.css" />
        <link rel="stylesheet" href="static/css/debmetrics.css" />
    </head>
    <body>
        <header>
            <a href="/">Debmetrics home</a>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <a href="http://anonscm.debian.org/gitweb/?p=users/josephbisch-guest/debmetrics.git;a=summary">Source Code</a>
             - <a href="{{ url_for('contact') }}">Contact</a>
        </footer>
        <script src="static/js/jquery-1.11.1.min.js"></script>
        <script src="static/js/jquery-ui-1.10.4.min.js"></script>
        <script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script src="static/js/global.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
